html, body {
  margin: 0px;
}

/* colours */
:root{
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #FF8816;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
}
nav a{
  text-transform: uppercase;
  color: red;
  font-size: 2rem;
  
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

.row{
  margin: 1em;
}

.covidTag{
  color: var(--title);
}

#enableNotifications{

  background-color: var(--title);
}